



.user-profile-container{
    background-color: #f3f5f7;
    padding-top: 59px;
    display: flex;
}

.user-profile-left{
    background-color: #0b3d6b;
    width: 15vw;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}



.profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 25px 0px;
}

.user-profile-left ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 95%;
}

.user-profile-left ul li{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;

}

.user-profile-left ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}


.user-profile-left ul li i{
    margin-right: 25px;
}

.profile-make-appointment{
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: white;
    color: black;
}

.link-make-appo{
    color: #1f2d3d !important;
}



.user-profile-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 60px;
    width: 85vw;

    overflow-y: auto;
    color: #1f2d3d;
}

#user-profile-info{
    font-size: 19px;
}

.user-profile-box{
    width: 90%;
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding:25px;

}

.profile-underline{
    width: 150px;
    border: 3px solid rgb(18, 74, 126);
    border-radius: 5px;
    margin: 10px 0px;
}

.user-profile-info-div p{
    margin: 10px 0px;
    font-weight: 600;
    margin-right: 5px;

}

.user-profile-info-div > div{
    display: flex;
    align-items: center;
}

.user-profile-appointment{
    margin-top: 20px;
    color: #ffffff;
    max-width: 500px;
}

.user-profile-appointment-flex{
    display: flex;
    border: 1px solid white;

}

.user-profile-appointment-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2fbf5c;

    margin-left: auto;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 17px;

}

.user-profile-appointment-btns{
    padding: 10px;
    background-color: #145a96;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

.user-profile-appointment-time p{
    margin: 2px 0px;
}


.user-profile-appointment button{
    height: 25px;
    width: 100px;
    border:none;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-top: 19px;
    margin-right: 10px; 
}

#profile-btn-change:hover{
    background-color: rgb(197, 192, 192);
}

.profile-btn-color-red{
    background-color: #d9534f;
    color: white;
}

.profile-btn-color-red:hover{
    background-color: #e56a67;
}

.profile-btn-color-green{
    background-color: #2ecc71;
    color: white;
}

.profile-btn-color-green:hover{
    background-color: #2ab862;
}

.profile-rating-box{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-error{
    color: #f5c2c2;
    margin-top: 6px;
}

.profile-rating-done{
    color: #b8ffcf;
    margin-top: 6px;
}


#user-profile-updateinfo p{
    font-weight: bold;
    margin-bottom: 5px;

}

#user-profile-updateinfo input{
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: none;
    background-color: #e9ecef;
    border: 1px solid #b8c1cc;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 10px;

}

.profile-update-btn{
    height: 32px;
    width: 150px;
    border:none;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3a7bd5;
    color: white;

}

#user-profile-delete-acc p{
    font-size: 18px;
    width: 50%;
}

#profile-delete-btn{
    height: 32px;
    width: 150px;
    border:none;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-top: 15px;
    background-color: #d9534f;
    color: white;
}

.profile-mr-bottom{
    margin-bottom: 20px;
}


@media only screen and (max-width: 1480px){

    .user-profile-left{
        width: 250px;
    }
}


@media only screen and (max-width: 730px){


    .user-profile-left{width: 230px;}

    .user-profile-left ul li a{font-size: 14px;}
    
    #user-profile-updateinfo input{width: 90%;}

    #user-profile-delete-acc p{
        font-size: 18px;
        width: 90%;
    }

}