.error-msg{
    color: white;
    background-color: rgb(165, 45, 45);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    transition: all ease-in-out 0.3s;
    margin-bottom: 15px;
}


.error-msg span{
    margin-left: 10px;
}

